:root {  /* indicamos que vamos a tener variables de css */
    --white:#FFFFFF;  /*  variables de color  */
    --black:#000000;
    --very-light-pink:#C7C7C7;
    --text-input-field:#F7F7F7;
    --hospital-green:#ACD9B2;
    --sm:14px;          /* variables de tamaño de letra  */
    --md:16px;
    --lg:18px;
}