@import 'vars';

.login{
    width: 100%;  /* indicamos que que ocupe todo el ancho  */
    height: 100vh;   /* indicamos que que ocupe todo el alto de la pantalla  */
    display: grid;
    place-items: center; /* propiedad de ccs grid que nos permite cetrar el contenido tanto ver como hor y no tenemos que usar mas de 2 propiedades  */
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto; /* esto nos permite crear un sistema de filas, la parte superior donde esta el titulo y sub le colocamos auto para que tome el tamaño que quiera , que tome 1fr una fraccion para el password y los input , y auto para el espacio que sobre */
    width: 300px; /* indicamos el ancho que van a tener*/
}
.logo{
    width: 150PX; /*  ancho del logo  */
    margin-bottom: 48px; /* margen para hacer la separacion del titulo*/
    justify-self: center; /* nos centra el logo en la grid que ya tenemos*/
    display: none; /* para que no aparezca en desktop */
}
.title{
    font-size: var(--lg) ; /*  utilizamos la variable de tamaño de letra para el titulo  */
    margin-bottom: 12px;  /*  ancho del logo  */
    text-align: center; /*  centrar titulo  */
}
.subtitle{
    color: var(--very-light-pink);  /*  utilizamos la variable de color, para el color de letra para el subtitulo  */
    font-size: var(--md); /*  utilizamos la variable de tamaño de letra para el subtitulo  */
    font-weight: 300;/*grosor de la letra*/
    margin-top: 0; /* margin de 0 para que no se nos crucen los que ya tienen los parrafos por defecto*/
    margin-bottom: 32px ;/*  margin para que se nos separe de los input y label*/
    text-align: center; /*  centramos el subtitulo  */
}
.form{ /* vamos a colorcar los labels encima de los inputs*/
    display: flex; /*  nos coloca los elementos seguidos  */
    flex-direction: column; /* pero le indicamos que los queremos en columnas  */

}
.label{
    font-size: var(--sm); /*  utilizamos la variable de tamaño de letra  */
    font-weight: bold;/*grosor de la letra*/
    margin-bottom: 4px; /*  margin para que se nos separe del otro label*/
}
.input{
    background-color: var(--text-input-field); /*  utilizamos la variable de color */
    border: none; /* eliminamos el borde que tiene por defecto */
    border-radius:8px ;/* redondeamos los bordes */
    height: 30px ;/*  altura del recuadrito  */
    font-size: var(--md);  /*  utilizamos la variable de tamaño de letra */
    padding: 6px; /* margen internan para que no nos queden tan pegados los password*/
    margin-bottom: 12px;  /* margen de abajo para que se separen los inputs*/
}
.primary-button{
    background-color: var(--hospital-green);  /*  utilizamos la variable de color , para el color del boton */
    border:none; /* eliminamos el borde que tiene por defecto */
    border-radius: 8px; /* redondeamos los bordes */
    color: var(--white);
    width: 100%; ; /* ancho*/
    cursor: pointer;  /* para que al pasar por encima nos salga una manita y no la flecha*/
    font-size: var(--md);  /* utilizamos la variable de tamaño de letra */
    font-weight:bold ; /*grosor de la letra*/
    height: 50px; /*alto*/

}
.login-button{ /*utiizamos esta clase secundaria para agregarle un margin  al boton*/
    margin-top: 14px; /*margen de arriba*/
    margin-bottom: 30px; /*margen de abajo*/
}
@media (max-width:640px) { /*hasta*/
    .logo{
        display: block; 

    }
    
}