@import 'vars';

.send-email-login{
    width: 100%;  /* indicamos que que ocupe todo el ancho  */
    height: 100vh;   /* indicamos que que ocupe todo el alto de la pantalla  */
    display: grid;
    place-items: center; /* propiedad de ccs grid que nos permite cetrar el contenido tanto ver como hor y no tenemos que usar mas de 2 propiedades  */
}
.send-email-form-container{
    display: grid;
    grid-template-rows: auto 1fr auto; /* esto nos permite crear un sistema de filas, la parte superior donde esta el titulo y sub le colocamos auto para que tome el tamaño que quiera , que tome 1fr una fraccion para el password y los input , y auto para el espacio que sobre */
    width: 300px; /* indicamos el ancho que van a tener*/
    justify-items: center; /* centramos todos los elementos logo circulo texto etc */
}
.send-email-logo{
    width: 150PX; /*  ancho del logo  */
    margin-bottom: 48px; /* margen para hacer la separacion del titulo*/
    justify-self: center; /* nos centra el logo en la grid que ya tenemos*/
    display: none; /* para que no aparezca en desktop */
}
.send-email-title{
    font-size: var(--lg) ; /*  utilizamos la variable de tamaño de letra para el titulo  */
    margin-bottom: 12px;  /*  ancho del logo  */
    text-align: center; /*  centrar titulo  */
}
.send-email-subtitle{
    color: var(--very-light-pink);  /*  utilizamos la variable de color, para el color de letra para el subtitulo  */
    font-size: var(--md); /*  utilizamos la variable de tamaño de letra para el subtitulo  */
    font-weight: 300;/*grosor de la letra*/
    margin-top: 0; /* margin de 0 para que no se nos crucen los que ya tienen los parrafos por defecto*/
    margin-bottom: 32px ;/*  margin para que se nos separe de los input y label*/
    text-align: center; /*  centramos el subtitulo  */
}
.send-email-image{
    width: 132px; 
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center; /*  centramos la img en el circulo */
    align-items: center; /*  centramos la img en el circulo */
    margin-bottom: 24px; /*  margen de abajo del circulo al boton */

}
.send-email-image img{ /* poder disminuir el tamaño de la img */
     width:80px ; /*  aplicamos el tamaño que deseamos a la img */
}
.send-email-resend{
    font-size: var(--sm); /*  utilizamos la variable de tamaño de letra */
}
.send-email-resend span{
    color: var(--very-light-pink);
}
.send-email-resend a{
    color: var(--hospital-green);
    text-decoration:none ; /* eliminamos la linea que lo subraya por defecto*/
}
.send-email-primary-button{
    background-color: var(--hospital-green);  /*  utilizamos la variable de color , para el color del boton */
    border:none; /* eliminamos el borde que tiene por defecto */
    border-radius: 8px; /* redondeamos los bordes */
    color: var(--white);
    width: 100%; ; /* ancho*/
    cursor: pointer;  /* para que al pasar por encima nos salga una manita y no la flecha*/
    font-size: var(--md);  /* utilizamos la variable de tamaño de letra */
    font-weight:bold ; /*grosor de la letra*/
    height: 50px; /*alto*/

}
.send-email-login-button{ /*utiizamos esta clase secundaria para agregarle un margin  al boton*/
    margin-top: 14px; /*margen de arriba*/
    margin-bottom: 30px; /*margen de abajo*/
}
@media (max-width:640px) { 
    .send-email-logo{
        display: block; 

    }
}